.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.alert {
  position: absolute;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 4px 8px 4px 4px rgba(0, 0, 0, 0.2) !important; */
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  z-index: 50;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.align-rigth {
  align-self: flex-end;
}
.todoapp h2 {
  position: absolute;
  top: -140px;
  width: 100%;
  font-size: 60px;
  font-weight: 200;
  text-align: center;
  color: #b83f45;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}
